<!-- Meta tags -->
<!-- Basic meta tags -->
<update-title title="{{ vm.title }}"></update-title>
<update-meta name="description" content="{{ vm.desc }}"></update-meta>

<!-- Facebook META -->
<update-meta property="og:title" content="{{ vm.title }}"></update-meta>
<update-meta property="og:description" content="{{ vm.desc }}"></update-meta>
<update-meta property="og:url" use-abs-url="true"></update-meta>

<!-- Twitter META -->
<update-meta name="twitter:title" content="{{ vm.title }}"></update-meta>
<update-meta name="twitter:description" content="{{ vm.desc }}"></update-meta>
<update-meta name="twitter:url" use-abs-url="true"></update-meta>



<div flex>
    <div flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50" layout-padding layout="column">
        <!-- parentObject: {{vm.parentObject}} -->

        <div ng-if="vm.type == 'edit'">
            <h1 >Suggesting an edit for {{vm.objectType}}: {{vm.parentObject.title || vm.parentObject.name}}</h1>
            <p>
                In the future this will be a publicly edited wiki. For now, please suggest an edit using the below form
            </p>
        </div>


        <md-input-container ng-if="vm.type != 'edit'">
          <label>Suggestion Title</label>
          <input ng-model="vm.suggestion.title" autofocus>
        </md-input-container>

        <label>Suggestion Description</label>
        <ng-quill-editor ng-model="vm.suggestion.description"></ng-quill-editor>

        <md-contact-chips ng-if="vm.type != 'edit'"
          ng-model="vm.suggestion.issues"
          md-contacts="vm.searchIssues($query)"
          md-contact-name="name"
          md-require-match="true"
          md-highlight-flags="i"
          md-delay="400"
          placeholder="Linked Issues"
          secondary-placeholder="Add another issue">
        </md-contact-chips>

        <md-contact-chips ng-if="vm.type != 'edit'"
          ng-model="vm.suggestion.goals"
          md-contacts="vm.searchGoals($query)"
          md-contact-name="title"
          md-require-match="true"
          md-highlight-flags="i"
          md-delay="400"
          placeholder="Linked Goals"
          secondary-placeholder="Add another goal">
        </md-contact-chips>

        <div layout="row">
          <md-button class="md-raised md-primary" ng-click="vm.create()">
            <span>Send</span>
          </md-button>
        </div>
        <!-- <span ng-bind-html="vm.suggestion.mailText"></span> -->
    </div>
</div>
