<div layout-padding  layout="column" layout-align="top center" flex>

  <md-input-container>
    <label>Issue Title</label>
    <input ng-model="vm.issue.name" autofocus>
  </md-input-container>
  <md-button class="md-primary md-raised" ngf-select ng-model="vm.imageFile" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB">Select Image</md-button>
  <img ngf-thumbnail="vm.imageFile || vm.issue.imageUrl">
  <label>Issue Description</label>
  <ng-quill-editor ng-model="vm.issue.description"></ng-quill-editor>

  <div layout="row">
    <md-button class="md-raised md-primary" ng-click="vm.createOrUpdate()">
      <span ng-if="vm.issue._id">Update</span>
      <span ng-if="!vm.issue._id">Create</span>
    </md-button>
    <md-button  class="md-raised md-warn" ng-if="vm.issue._id" ng-click="vm.delete()">
      Delete
    </md-button>
  </div>
</div>
