<md-content layout="column">
	<div layout-gt-sm="row" layout-align-gt-sm="start center" layout-padding>
		<span>Sort</span>
		<div>
			<md-select class="sort-select" ng-model="vm.sortSelectState" md-on-close='vm.sort(vm.sortSelectState)'>
				<md-option ng-value="{type: 'top', order: 'desc'}" ng-selected=true>Top</md-option>
				<md-option ng-value="{type: 'controversial', order: 'desc'}">Controversial</md-option>
				<md-option ng-value="{type: 'trending', order: 'desc'}">Trending</md-option>
				<md-option ng-value="{type: 'newest', order: 'desc'}">Newest</md-option>
			</md-select>

			<md-tooltip ng-if="vm.sortSelectState.type === 'top'">Total score of votes</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'controversial'">Greatest difference in opinion</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'trending'">Recently popular</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'newest'">Most recently updated or created</md-tooltip>
		</div>
		<div flex>

		</div>
		<span>Filter</span>
		<div layout-align="start center">

			<md-chips ng-model="vm.regions" md-require-match="true" md-on-add="vm.updateVotes(vm.regions)" md-on-remove="vm.updateVotes(vm.regions)" md-delay="400" placeholder="All regions" secondary-placeholder="Add another region">
				<md-chip-template>
					<span>{{ $chip.name }}</span>
				</md-chip-template>
				<md-autocomplete md-no-cache="true" md-items="region in vm.searchRegions(regionName)" md-dropdown-items="5" md-search-text="regionName" placeholder="Add regions" md-item-text="region.name">
					<md-item-template>
						<span md-highlight-text="regionName" md-highlight-flags="i">
					  		{{ region.name }} ({{region.type}})
				  		</span>
					</md-item-template>
					<md-not-found>
						No regions found.
					</md-not-found>
				</md-autocomplete>
			</md-chips>
		</div>
	</div>
	<div layout-padding>
		<md-card class="solution-card" ng-if="vm.goals.length==0">
			<md-card-header>
				<md-card-header-text>
					<span class="md-headline">Looks like there are no goal here yet, why not suggest one?</span>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card class="goal-card" ng-repeat="goal in vm.goals | orderBy:vm.sortSvc.expression : vm.sortSvc.reverse" ui-sref="goals.view({goalId:goal._id})">
			<md-card-header>
				<md-card-avatar>
					<img ng-src="{{::goal.imageUrl}}" alt="Goal Image" />
				</md-card-avatar>
				<md-card-header-text>
					<!-- <span ng-if="authentication.user.roles.indexOf('admin')>-1">cont: {{vm.controversialSort(goal)}}</span> -->
					<span class="md-headline">{{::goal.title}}</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<span class="md-subhead description-container"><div class="description" ng-bind="goal.description | htmlToPlaintext"></div></span>
			</md-card-content>
			<md-card-actions layout="row" layout-align="start start">
				<md-card-icon-actions>
					<md-button class="md-icon-button vote-btn" ng-class="{ selected: goal.votes.currentUser.voteValue===1 }" ng-click="vm.vote(goal, 'up', $event)">
						<md-tooltip>
							<span ng-if="goal.votes.currentUser.voteValue===1">Undo</span>
							<span ng-if="goal.votes.currentUser.voteValue!==1">Vote Up</span>
						</md-tooltip>
						<md-icon>arrow_upward</md-icon>
					</md-button>
					<!-- <md-button class="md-icon-button" ng-class="" ng-click="">
						<md-tooltip>
							<span>For: {{goal.votes.up}}, Against: {{goal.votes.down}}</span>
						</md-tooltip>
						{{goal.votes.up - goal.votes.down}}
					</md-button> -->
					<div class="card-chart-container">
						<div class="card-chart-score">
							<span>{{goal.votes.up - goal.votes.down}}</span>
						</div>
						<canvas id="card-pie" class="chart chart-pie" chart-data="[goal.votes.down, goal.votes.up]" chart-labels="vm.chartLabels" chart-options="vm.chartOptions" chart-colors="vm.chartColors" height="100%" width="100%">
						</canvas>
						<md-tooltip>
							<span>For: {{goal.votes.up}}, Against: {{goal.votes.down}}</span>
						</md-tooltip>
					</div>
					<md-button class="md-icon-button vote-btn" ng-class="{ selected: goal.votes.currentUser.voteValue===-1 }" ng-click="vm.vote(goal, 'down', $event)">
						<md-tooltip>
							<span ng-if="goal.votes.currentUser.voteValue===-1">Undo</span>
							<span ng-if="goal.votes.currentUser.voteValue!==-1">Vote Down</span>
						</md-tooltip>
						<md-icon>arrow_downward</md-icon>
					</md-button>
					<div flex>
						<share-buttons object="goal" object-type="'goal'" vertical-resize="true"></share-buttons>
					</div>
				</md-card-icon-actions>

			</md-card-actions>
		</md-card>
	</div>
</md-content>
