<md-content layout="column">
	<div layout-gt-sm="row" layout-align-gt-sm="start center" layout-padding>
		<span>Sort</span>
		<div>
			<md-select class="sort-select" ng-model="vm.sortSelectState" md-on-close='vm.sort(vm.sortSelectState)'>
				<md-option ng-value="{type: 'top', order: 'desc'}" ng-selected=true>Top</md-option>
				<md-option ng-value="{type: 'controversial', order: 'desc'}">Controversial</md-option>
				<md-option ng-value="{type: 'trending', order: 'desc'}">Trending</md-option>
				<md-option ng-value="{type: 'newest', order: 'desc'}">Newest</md-option>
			</md-select>

			<md-tooltip ng-if="vm.sortSelectState.type === 'top'">Total score of votes</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'controversial'">Greatest difference in opinion</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'trending'">Recently popular</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'newest'">Most recently updated or created</md-tooltip>
		</div>
		<div flex>

		</div>
		<span>Filter</span>
		<div layout-align="start center">

			<md-chips ng-model="vm.regions" md-require-match="true" md-on-add="vm.updateVotes(vm.regions)" md-on-remove="vm.updateVotes(vm.regions)" md-delay="400" placeholder="All electorates" secondary-placeholder="Add another electorate">
				<md-chip-template>
					<span>{{ $chip.name }}</span>
				</md-chip-template>
				<md-autocomplete md-no-cache="true" md-items="region in vm.searchRegions(regionName)" md-dropdown-items="5" md-search-text="regionName" placeholder="Add electorates" md-item-text="region.name">
					<md-item-template>
						<span md-highlight-text="regionName" md-highlight-flags="i">
					  		{{ region.name }} ({{region.type}})
				  		</span>
					</md-item-template>
					<md-not-found>
						No regions found.
					</md-not-found>
				</md-autocomplete>
			</md-chips>
		</div>
	</div>
	<div>
		<md-card class="solution-card" ng-if="vm.goals.length==0">
			<md-card-header>
				<md-card-header-text>
					<span class="md-headline">Looks like there are no goal here yet, why not suggest one?</span>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card class="goal-card" ng-repeat="goal in vm.goals | orderBy:vm.sortSvc.expression : vm.sortSvc.reverse" ui-sref="goals.view({goalId:goal._id})">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline" ng-bind="goal.title"></span>
				</md-card-title-text>
				<md-card-title-media layout-padding>
					<div class="md-media-sm card-media"><img ng-src="{{::goal.imageUrl}}" alt="Goal Image" /></div>
				</md-card-title-media>
			</md-card-title>
			<md-card-content ng-if="goal.description">
				<span class="md-body-2 description-container"><span class="description" ng-bind="goal.description | htmlToPlaintext"></span></span>
			</md-card-content>
			<md-card-actions layout-gt-sm="row">
				<binary-vote ng-if="!goal.likert" object="goal" object-type="'goal'"></binary-vote>
				<likert-vote ng-if="goal.likert" object="goal" object-type="'goal'"></likert-vote>

				<share-buttons object="goal" object-type="'goal'" vertical-resize="true"></share-buttons>

				<div layout flex layout-align="end start">
					<md-button class="md-raised md-primary">
						<md-tooltip>
							<span>View solutions to this Goal.</span>
						</md-tooltip>
						View Solutions
					</md-button>
				</div>
				<!-- <div layout>
					<md-button class="md-raised vote-btn" ng-class="{ selected: goal.votes.currentUser.voteValue===1 }" ng-click="vm.vote(goal, 'str_agree', $event)">
						<md-tooltip>
							<span ng-if="goal.votes.currentUser.voteValue===1">Undo</span>
							<span ng-if="goal.votes.currentUser.voteValue!==1">Vote Up</span>
						</md-tooltip>
						<md-icon>arrow_upward</md-icon> <span hide show-gt-xs>Vote Up</span>
					</md-button>
					<div class="card-chart-container">
						<div class="card-chart-score">
							<span>{{goal.votes.up / (goal.votes.up + goal.votes.down) * 100 || 0 | number: 0}} %</span>
						</div>
						<canvas id="card-pie" class="chart chart-pie" chart-data="[goal.votes.down, goal.votes.up]" chart-labels="vm.chartLabels" chart-options="vm.chartOptions" chart-colors="vm.chartColors" height="100%" width="100%">
						</canvas>
						<md-tooltip>
							<span>For: {{goal.votes.up}}, Against: {{goal.votes.down}}</span>
						</md-tooltip>
					</div>
					<md-button class="md-raised vote-btn" ng-class="{ selected: goal.votes.currentUser.voteValue===-1 }" ng-click="vm.vote(goal, 'str_disagree', $event)">
						<md-tooltip>
							<span ng-if="goal.votes.currentUser.voteValue===-1">Undo</span>
							<span ng-if="goal.votes.currentUser.voteValue!==-1">Vote Down</span>
						</md-tooltip>
						<md-icon>arrow_downward</md-icon> <span hide show-gt-xs>Vote Down</span>
					</md-button>
				</div> -->
			</md-card-actions>
		</md-card>
	</div>
</md-content>
