<md-toolbar class="md-primary md-hue-2 app-header">
	<div class="md-toolbar-tools" flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50">
		<md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-sm>
			<md-icon>menu</md-icon>
		</md-button>
		<md-truncate flex class="home-title">{{headerTitle}}
			<md-tooltip>{{headerTitle}}</md-tooltip>
		</md-truncate>

		<div flex="auto" layout="column" hide show-gt-sm>
			<md-input-container md-no-float class="md-block search-input simple" md-no-asterisk ng-if="!$state.includes('home')">
				<md-autocomplete md-no-cache="true" md-clear-button="false" placeholder="Search" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in results" md-search-text-change="searchAll(searchText)" md-item-text="getItemTitle(item)" md-delay="300"
				    md-min-length="1">

					<md-item-template>
						<a class="search-item" href="{{getHyperLink(item)}}">
                  			<span><strong>{{item.model}}: </strong></span>
                  			<span md-highlight-text="searchText" md-highlight-flags="gi">{{getItemTitle(item)}}</span>
                		</a>
					</md-item-template>
					<md-not-found>
						No matches found.
					</md-not-found>

				</md-autocomplete>
			</md-input-container>
		</div>

		<!-- <span flex></span> -->

		<md-button hide-gt-sm aria-label="Show mobile search" class="md-icon-button" ng-click="openSearch()">
			<md-icon>search</md-icon>
		</md-button>

		<md-menu ng-show="authentication.user">
			<md-button aria-label="Open phone intersolutions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
				<md-icon>person</md-icon>
				<md-tooltip md-direction="left">Signed in as {{::authentication.user.displayName}}</md-tooltip>
			</md-button>
			<md-menu-content width="4">

				<md-menu-item>
					<md-button ui-sref="settings.profile">
						My Profile
					</md-button>
				</md-menu-item>

				<md-menu-item>
					<md-button href="/api/auth/signout" target="_self">
						Sign Out
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>

<md-toolbar class="md-primary" layout-padding ng-if="searchOpen" hide-gt-sm>
	<md-input-container flex="auto" md-no-float class="md-block search-input simple" md-no-asterisk>
		<md-autocomplete md-no-cache="true" md-clear-button="false" placeholder="Search" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in results" md-search-text-change="searchAll(searchText)" md-item-text="getItemTitle(item)" md-delay="300"
		    md-min-length="1">

			<md-item-template>
				<a class="search-item" ng-click="redirectTo(item)">
			          <span><strong>{{item.model}}: </strong></span>
			          <span md-highlight-text="searchText" md-highlight-flags="gi">{{getItemTitle(item)}}</span>
			        </a>
			</md-item-template>
			<md-not-found>
				No matches found.
			</md-not-found>

		</md-autocomplete>
	</md-input-container>
</md-toolbar>
