<!-- <md-button class="md-primary" href="asdaskldj">HOME PAGE</md-button> -->
<!-- <div><img style="width:100%" src="modules/core/client/img/home.png"></div> -->
<!-- Meta tags -->
<!-- Basic meta tags -->
<update-title title="{{ title }}"></update-title>
<update-meta name="description" content="{{ desc }}"></update-meta>

<!-- Facebook META -->
<update-meta property="og:title" content="{{ title }}"></update-meta>
<update-meta property="og:description" content="{{ desc }}"></update-meta>
<update-meta property="og:url" use-abs-url="true"></update-meta>

<!-- Twitter META -->
<update-meta name="twitter:title" content="{{ title }}"></update-meta>
<update-meta name="twitter:description" content="{{ desc }}"></update-meta>
<update-meta name="twitter:url" use-abs-url="true"></update-meta>

<div class="about-container">
	<iframe src="https://www.newvote.org.au/help" title="NewVote Help" width="100%">
	  <p>Your browser does not support iframes.</p>
	</iframe>
</div>
