<!-- Meta tags -->
<!-- Basic meta tags -->
<update-title title="{{ title }}"></update-title>
<update-meta name="description" content="{{ desc }}"></update-meta>

<!-- Facebook META -->
<update-meta property="og:title" content="{{ title }}"></update-meta>
<update-meta property="og:description" content="{{ desc }}"></update-meta>
<update-meta property="og:url" use-abs-url="true"></update-meta>

<!-- Twitter META -->
<update-meta name="twitter:title" content="{{ title }}"></update-meta>
<update-meta name="twitter:description" content="{{ desc }}"></update-meta>
<update-meta name="twitter:url" use-abs-url="true"></update-meta>

<!-- <md-button class="md-primary" href="asdaskldj">HOME PAGE</md-button> -->
<!-- <div><img style="width:100%" src="modules/core/client/img/home.png"></div> -->
<div class="home-container">
	<div class="home-search-banner" layout="column" layout-align="center center">
		<h1 class="title-text">
      What matters to you?
    </h1>

		<md-input-container md-no-float class="md-block search-input home-search simple " md-no-asterisk>
			<md-autocomplete md-no-cache="true" md-clear-button="false" placeholder="Search" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in results" md-search-text-change="searchAll(searchText)" md-item-text="getItemTitle(item)" md-delay="300" md-min-length="1">

				<md-item-template>
					<a class="search-item" href="{{getHyperLink(item)}}">
          				<span><strong>{{item.model}}: </strong></span>
          				<span md-highlight-text="searchText" md-highlight-flags="gi">{{getItemTitle(item)}}</span>
        			</a>
				</md-item-template>
				<md-not-found>
					No matches found.
				</md-not-found>
			</md-autocomplete>

		</md-input-container>

	</div>

	<a class="authenticationsignup" ng-if="!authentication.user" ui-sref="authentication.signup" layout="row" layout-align="center center">
		<img src="modules/core/client/img/join.png" flex-xs="50" flex-sm="33" flex="15">
	</a>

	<md-content>
		<div class="md-toolbar transparent" flex="90" flex-offset="5">
			<h2 class="md-display-1">Recent Issues</h2>
		</div>
		<div class="carousel-container" ng-controller="HomeController as carousel" layout="row" layout-align="center center">
			<ui-carousel
				ng-if="showCarousel"
				flex="90"
				slides="carousel.issues"
				slides-to-scroll="1"
				autoplay="false"
				dots="false"
				arrows="true">

				<carousel-item>
					<md-card ui-sref="issues.view({ issueId: item._id })">
						<img ng-src="{{item.imageUrl}}" class="md-card-image" alt="{{item.title}}">
						<md-card-title>
							<md-card-title-text ng-init="limit = 25" layout="row">
								<span class="md-headline" ng-bind-html="item.name | limitTo : limit"></span>
								<span class="md-headline" ng-show="item.name.length > limit">...</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content ng-bind-html="item.description | limitTo: 200"></md-card-content>
						<md-card-actions layout="row" layout-align="start center">
							<button class="md-raised md-primary md-button md-ink-ripple" type="button" ui-sref="issues.view({ issueId: item._id })">Learn More<div class="md-ripple-container" style=""></div></button>
						</md-card-actions>
					</md-card>
				</carousel-item>
			</ui-carousel>
		</div>
	</md-content>

	<md-content>
		<div class="md-toolbar transparent" flex="90" flex-offset="5">
			<h2 class="md-display-1">Vote on Goals</h2>
		</div>
		<div class="carousel-container" ng-controller="HomeController as carousel" layout="row" layout-align="center center">
			<ui-carousel
				ng-if="showCarousel"
				flex="90"
				slides="carousel.goals"
				slides-to-scroll="1"
				autoplay="false"
				dots="false"
				arrows="true">

				<carousel-item>
					<md-card ui-sref="goals.view({ goalId: item._id })">
						<img ng-src="{{item.imageUrl}}" class="md-card-image" alt="{{item.title}}">
						<md-card-title>
							<md-card-title-text ng-init="limit = 25" layout="row">
								<span class="md-headline" ng-bind-html="item.title | limitTo : limit"></span>
								<span class="md-headline" ng-show="item.title.length > limit">...</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="space-around center">
							<span>For: {{item.votes.up}}</span>
							<div class="card-chart-container">
								<div class="card-chart-score">
									<span>{{item.votes.up / (item.votes.up + item.votes.down) * 100 || 0 | number: 0}} %</span>
								</div>
								<canvas id="card-pie" class="chart chart-pie" chart-data="[item.votes.down, item.votes.up]" chart-labels="['Against', 'For']" chart-options="{elements: {arc: {borderWidth: 0}},responsive: true,legend: {display: false},events: []}" chart-colors="[{backgroundColor: 'rgba(255,0,0,0.8)',pointBackgroundColor: 'rgba(255,0,0,0.5)',pointHoverBackgroundColor: 'rgba(255,0,0,0.6)',borderColor: 'rgba(255,0,0,0.6)',pointBorderColor: 'rgba(255,0,0,0.6)',pointHoverBorderColor: 'rgba(255,0,0,0.6)'},{backgroundColor: 'rgba(0,255,0,0.8)',pointBackgroundColor: 'rgba(0,255,0,0.5)',pointHoverBackgroundColor: 'rgba(77,83,96,1)',borderColor: 'rgba(77,83,96,1)',pointBorderColor: '#fff',pointHoverBorderColor: 'rgba(77,83,96,0.8)'}]" height="100%" width="100%">
							</canvas>
							</div>
							<span>Against: {{item.votes.down}}</span>
							<button class="md-raised md-primary md-button md-ink-ripple" type="button" ui-sref="goals.view({ goalId: item._id })">Vote Now<div class="md-ripple-container" style=""></div></button>
						</md-card-actions>
					</md-card>
				</carousel-item>
			</ui-carousel>
		</div>
	</md-content>

	<md-content>
		<div class="md-toolbar transparent" flex="90" flex-offset="5">
			<h2 class="md-display-1">Vote on Solutions</h2>
		</div>
		<div class="carousel-container" ng-controller="HomeController as carousel" layout="row" layout-align="center center">
			<ui-carousel
				ng-if="showCarousel"
				flex="90"
				slides="carousel.solutions"
				slides-to-scroll="1"
				autoplay="false"
				dots="false"
				arrows="true">

				<carousel-item>
					<md-card ui-sref="goals.view({ goalId: item.goals[0]._id })">
						<img ng-src="{{item.imageUrl}}" class="md-card-image" alt="{{item.title}}">
						<md-card-title>
							<md-card-title-text ng-init="limit = 25" layout="row">
								<span class="md-headline" ng-bind-html="item.title | limitTo : limit"></span>
								<span class="md-headline" ng-show="item.title.length > limit">...</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="space-around center">
							<span>For: {{item.votes.up}}</span>
							<div class="card-chart-container">
								<div class="card-chart-score">
									<span>{{item.votes.up / (item.votes.up + item.votes.down) * 100 || 0 | number: 0}} %</span>
								</div>
								<canvas id="card-pie" class="chart chart-pie" chart-data="[item.votes.down, item.votes.up]" chart-labels="['Against', 'For']" chart-options="{elements: {arc: {borderWidth: 0}},responsive: true,legend: {display: false},events: []}" chart-colors="[{backgroundColor: 'rgba(255,0,0,0.8)',pointBackgroundColor: 'rgba(255,0,0,0.5)',pointHoverBackgroundColor: 'rgba(255,0,0,0.6)',borderColor: 'rgba(255,0,0,0.6)',pointBorderColor: 'rgba(255,0,0,0.6)',pointHoverBorderColor: 'rgba(255,0,0,0.6)'},{backgroundColor: 'rgba(0,255,0,0.8)',pointBackgroundColor: 'rgba(0,255,0,0.5)',pointHoverBackgroundColor: 'rgba(77,83,96,1)',borderColor: 'rgba(77,83,96,1)',pointBorderColor: '#fff',pointHoverBorderColor: 'rgba(77,83,96,0.8)'}]" height="100%" width="100%">
							</canvas>
							</div>
							<span>Against: {{item.votes.down}}</span>
							<button class="md-raised md-primary md-button md-ink-ripple" type="button" ui-sref="goals.view({ goalId: item.goals[0]._id })">Vote Now<div class="md-ripple-container" style=""></div></button>
						</md-card-actions>
					</md-card>
				</carousel-item>
			</ui-carousel>
	</md-content>
	</div>

	<div class="footer-banner">
		<div class="footer-text-containter" flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50">
			<h3> What is NewVote? </h3>
			<p>
				NewVote is a digital democracy app. Our mission is to provide balanced information on current political issues, goals and solutions in Australia.
			</p>
			<p>
				NewVote is a dedicated platform for you to browse, search, learn, discuss, suggest and vote on issues, goals and solutions.
			</p>
			<p>We are a nonpartisan nonprofit organisation with one purpose - to enhance democracy and bring it to the 21st century.
				<h3> Connect with us:</h3>
				<a href="http://facebook.com/newvoteaustralia/" target="_blank">
					<md-icon class="social-link" md-svg-src="modules/core/client/img/glyphicons-social-31-facebook.svg"></md-icon>
				</a>
				<a class="social-link" href="http://twitter.com/newvoteaus" target="_blank">
					<md-icon class="social-link" md-svg-src="modules/core/client/img/glyphicons-social-32-twitter.svg"></md-icon>
					<!-- <img src="modules/core/client/img/glyphicons-social-32-twitter.svg"> -->
				</a>
				<a class="social-link" href="https://www.instagram.com/newvoteaustralia/" target="_blank">
					<md-icon class="social-link" md-svg-src="modules/core/client/img/glyphicons-social-33-instagram.svg"></md-icon>
					<!-- <img src="modules/core/client/img/glyphicons-social-32-twitter.svg"> -->
				</a>
			</p>
		</div>
	</div>
</div>
