<div layout="row">
  <md-button class="md-primary md-raised create-btn" ui-sref="ideas.create"><md-icon>add</md-icon>Create Idea</md-button>
</div>
<md-grid-list
  class="ideas"
  md-cols-xs="3" md-cols-sm="9" md-cols-md="9" md-cols-gt-md="12"
  md-row-height="2:2"
  md-gutter="16px">
  {{vm.topic}}
  <md-grid-tile ng-repeat="idea in vm.ideas" ui-sref="ideas.view({ideaId:idea.id})" md-rowspan="3" md-colspan="3" class="idea" md-whiteframe="3">
    <img ng-src="{{idea.imageUrl}}" alt="idea Image">
    <md-grid-tile-footer>
      <h2 ng-bind="idea.name"></h2>
    </md-grid-tile-footer>
  </md-grid-tile>

</md-grid-list>
