
  <div flex layout="column" layout-gt-xs="row">

    <div flex layout="column" layout-gt-md="row">
      <md-card class="idea" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ui-sref="ideas.view({ideaId:'test'})">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">We should do our part for global warming</span>
            <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.</span>
          </md-card-title-text>
          <!-- <md-card-title-media>
          <div class="md-media-sm card-media">[icon]</div>
        </md-card-title-media> -->
      </md-card-title>
      <md-card-actions layout="row" layout-align="end right">
        <md-button>Read More</md-button>
      </md-card-actions>
    </md-card>
      <md-card class="idea" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ui-sref="ideas.view({ideaId:'test'})">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Strengthen medicare</span>
            <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.</span>
          </md-card-title-text>
          <!-- <md-card-title-media>
            <div class="md-media-sm card-media">[icon]</div>
          </md-card-title-media> -->
        </md-card-title>
        <md-card-actions layout="row" layout-align="end right">
          <md-button>Read More</md-button>
        </md-card-actions>
      </md-card>
    </div>

    <div flex layout="column" layout-gt-md="row">

      <md-card class="idea" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ui-sref="ideas.view({ideaId:'test'})">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Improve human rights in Australia</span>
            <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.</span>
          </md-card-title-text>
          <!-- <md-card-title-media>
            <div class="md-media-sm card-media">[icon]</div>
          </md-card-title-media> -->
        </md-card-title>
        <md-card-actions layout="row" layout-align="end right">
          <md-button>Read More</md-button>
        </md-card-actions>
      </md-card>
      <md-card class="idea" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ui-sref="ideas.view({ideaId:'test'})">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Allow same sex couple to marry</span>
            <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.</span>
          </md-card-title-text>
          <!-- <md-card-title-media>
            <div class="md-media-sm card-media">[icon]</div>
          </md-card-title-media> -->
        </md-card-title>
        <md-card-actions layout="row" layout-align="end right">
          <md-button>Read More</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
