<md-toolbar class="md-primary">
  <div layout-padding>
    <h2>Abstract</h2>
    <p>
      Strengthen medicare <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.
    </p>
  </div>
</md-toolbar>

<md-card md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Solution</span>
      <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end right">
    <md-button>Vote</md-button>
  </md-card-actions>
</md-card>

<md-card md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Solution</span>
      <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end right">
    <md-button>Vote</md-button>
  </md-card-actions>
</md-card>

<md-card md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Solution</span>
      <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit lectus, feugiat et hendrerit eget, varius non lectus. Ut pharetra rutrum mollis. Suspendisse in sem in ligula fringilla bibendum ut nec purus.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end right">
    <md-button>Vote</md-button>
  </md-card-actions>
</md-card>
