<md-toolbar class="md-primary">

  <div layout="row" layout-padding>
    <div class="header-image-container">
      <img ng-src="{{::vm.issue.imageUrl}}" alt="Issue Image">
    </div>
    <div flex></div>
    <div ng-if="authentication.user.roles.indexOf('admin')>-1 || authentication.user._id===vm.issue.user._id">
      <md-button class="md-icon-button" ng-click="vm.delete()">
        <md-tooltip>Delete Issue</md-tooltip>
        <md-icon>delete</md-icon>
      </md-button>
      <md-button class="md-icon-button" ui-sref="issues.edit({issueId: vm.issue._id})">
        <md-tooltip>Edit Issue</md-tooltip>
        <md-icon>edit</md-icon>
      </md-button>
    </div>
  </div>
  <div layout-padding layout="row">
    <div class="header-description" ng-class="{full: vm.showFullDesc}" ng-bind-html="vm.issue.description"></div>
  </div>
  <div layout="row" layout-align="end end">
    <md-button ng-click="vm.showFullDesc=!vm.showFullDesc">
      <span ng-if="vm.showFullDesc">Show Less</span>
      <span ng-if="!vm.showFullDesc">...Show More</span>
    </md-button>
  </div>

</md-toolbar>
<solution-list solutions="vm.solutions" issue-id="vm.issueId" sort-param="vm.sortParam"></solution-list>

<md-content layout="column" layout-align="center">
    <div layout-padding>
        <div
          class="polis"
          data-topic="What do you think?"
          data-page_id="{{vm.issue._id}}"
          data-site_id="polis_site_id_7YYdpN4NRpUvCKC7ZU">
        </div>
    </div>
</md-content>
