  <md-toolbar class="md-primary">
    <div layout-padding class="md-toolbar-tools">
      <p>
        Select an issue to view solutions
      </p>
    </div>
  </md-toolbar>
  <div layout="row" layout-padding>
    <md-button ng-if="authentication.user.roles.indexOf('admin')>-1" class="md-primary md-raised create-btn" ui-sref="issues.create"><md-icon>add</md-icon>Add an Issue</md-button>
    <md-button ng-if="authentication.user.roles.indexOf('admin')==-1" class="md-primary md-raised create-btn" ui-sref="suggestions"><md-icon>add</md-icon>Suggest an Issue</md-button>

    <md-button class="md-primary" ng-click="vm.sort('alpha', 'asc', $event)">A-Z</md-button>
    <md-button class="md-primary" ng-click="vm.sort('top', 'desc', $event)">Top</md-button>
    <md-button class="md-primary" ng-click="vm.sort('controversial', 'desc', $event)">Controversial</md-button>
    <md-button class="md-primary" ng-click="vm.sort('trending', 'desc', $event)">Trending</md-button>
    <md-button class="md-primary" ng-click="vm.sort('newest', 'desc', $event)">Newest</md-button>
  </div>

  <md-grid-list
    class="issues"
    md-cols-xs="3" md-cols-sm="9" md-cols-md="12" md-cols-lg="15" md-cols-xl="21"
    md-row-height="2:2"
    md-gutter="16px">

    <md-grid-tile ng-repeat="issue in vm.issues | orderBy: vm.sortSvc.expression : vm.sortSvc.reverse" ui-sref="issues.view({ issueId: issue._id })" md-colspan="3" md-rowspan="3" class="issue" md-whiteframe="3">
      <img ng-src="{{issue.imageUrl}}" alt="Issue Image">
      <md-grid-tile-footer>
        <h3 ng-bind="issue.name"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
