<md-toolbar class="md-primary" ng-controller="IssueController as vm">
  <div layout="row" layout-padding>
    <div layout-padding flex>
      {{vm.issue.description}}
    </div>
    <md-button class="md-icon-button" ng-click="vm.delete()">
      <md-tooltip>Delete Issue</md-tooltip>
      <md-icon>delete</md-icon>
    </md-button>
    <md-button class="md-icon-button" ui-sref="issues.edit({issueId: vm.issue._id})">
      <md-tooltip>Edit Issue</md-tooltip>
      <md-icon>edit</md-icon>
    </md-button>
  </div>

</md-toolbar>
<div ng-include="'modules/core/client/views/solutions-list.client.view.html'"></div>
