<!-- Meta tags -->
<!-- Basic meta tags -->
<update-title title="{{ vm.title }}"></update-title>
<update-meta name="description" content="{{ vm.desc }}"></update-meta>

<!-- Facebook META -->
<update-meta property="og:title" content="{{ vm.title }}"></update-meta>
<update-meta property="og:description" content="{{ vm.desc }}"></update-meta>
<update-meta property="og:url" use-abs-url="true"></update-meta>
<update-meta property="og:image" content="{{ vm.image }}"></update-meta>

<!-- Twitter META -->
<update-meta name="twitter:title" content="{{ vm.title }}"></update-meta>
<update-meta name="twitter:description" content="{{ vm.desc }}"></update-meta>
<update-meta name="twitter:url" use-abs-url="true"></update-meta>
<update-meta name="twitter:image" content="{{ vm.image }}"></update-meta>

<md-toolbar class="md-primary">
	<div layout-padding class="md-toolbar-tools" flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50">
		<p>
			Select an issue to learn more about it
		</p>
		<div flex>

		</div>
		<div>
			<md-button ng-if="authentication.user.roles.indexOf('admin')>-1" class="md-accent md-hue-1 md-raised create-btn" ui-sref="issues.create">
				<md-icon>add</md-icon><span hide show-gt-sm>New</span>
				<md-tooltip>Create a new issue</md-tooltip>
			</md-button>
			<md-button ng-hide="authentication.user.roles.indexOf('admin')==1" class="md-accent md-hue-1 md-raised create-btn" ui-sref="suggestions">
				<md-icon>add</md-icon><span hide show-gt-sm>New</span>
				<md-tooltip>Suggest a new issue</md-tooltip>
			</md-button>
		</div>
	</div>
</md-toolbar>

<div flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50">
	<div layout="row" layout-padding layout-wrap>
		<div layout-gt-sm="row" layout-align-gt-sm="start center" layout-padding>
			<span>Sort</span>
			<div>
				<md-select class="sort-select" ng-model="vm.sortSelectState" md-on-close='vm.sort(vm.sortSelectState)'>
					<md-option ng-value="{type: 'alpha', order: 'asc'}" ng-selected="true">A-Z</md-option>
	                <md-option ng-value="{type: 'top', order: 'desc'}">Top</md-option>
	                <md-option ng-value="{type: 'controversial', order: 'desc'}">Controversial</md-option>
	                <md-option ng-value="{type: 'trending', order: 'desc'}">Trending</md-option>
	                <md-option ng-value="{type: 'newest', order: 'desc'}">Newest</md-option>
				</md-select>

				<md-tooltip ng-if="vm.sortSelectState.type === 'alpha'">Simple alphabetical sorting</md-tooltip>
				<md-tooltip ng-if="vm.sortSelectState.type === 'top'">Total score of votes</md-tooltip>
				<md-tooltip ng-if="vm.sortSelectState.type === 'controversial'">Greatest difference in opinion</md-tooltip>
				<md-tooltip ng-if="vm.sortSelectState.type === 'trending'">Recently popular</md-tooltip>
				<md-tooltip ng-if="vm.sortSelectState.type === 'newest'">Most recently updated or created</md-tooltip>
			</div>
			<div flex>

			</div>
		</div>
	</div>

	<!-- <div layout-padding layout="row">
		<md-contact-chips
			ng-model="vm.filterTags"
			md-contacts="vm.searchTags($query)"
			md-contact-name="name"
			readonly="false"
			md-removable="true"
			placeholder="Filter by tags"
			md-require-match="true"
			md-highlight-flags="i"
			filter-selected="true"
			flex="50">
		</md-contact-chips>
	</div>

	{{vm.allTags}} -->

	<md-grid-list class="issues" md-cols-xs="3" md-cols-sm="9" md-cols-md="9" md-cols-gt-md="12" md-row-height="2:2" md-gutter="16px">

		<md-grid-tile ng-repeat="issue in vm.issues | orderBy: vm.sortSvc.expression : vm.sortSvc.reverse" ui-sref="issues.view({ issueId: issue._id })" md-rowspan-gt-xs="3" md-colspan="3" md-rowspan="1" class="issue" md-whiteframe="3">
			<img ng-src="{{issue.imageUrl}}" alt="Issue Image">
			<md-grid-tile-footer>
				<h3 ng-bind="issue.name"></h3>
			</md-grid-tile-footer>
		</md-grid-tile>

	</md-grid-list>
</div>
