<md-toolbar class="md-primary" ng-controller="IssueController as ctrl">
  <div layout-padding>
    <h2>Description</h2>
    <p>
      Global warming is is the rise in the average temperature of the Earth's climate system (and its related effects) over the past century.

      It’s particularly important to the Australian community because of it’s effects on Australia
    </p>
  </div>
</md-toolbar>
<md-content class="md-padding" layout-xs="column" onload="vm.issue = ctrl.issue" layout="column" layout-align="center" ng-controller="SolutionsListController as vm" ng-include="'modules/core/client/views/solutions-list.client.view.html'">

</md-content>
<!-- <md-toolbar class="md-primary">
  <div layout-padding>
    <h2>Description</h2>
    <p>
      Hello sakdjaskl djasl dlkasjd lksajd lkasj dklasjd klsaj dklasjd klasjd klasjdk ljasld lasjdlkas kld j

    </p>
  </div>
</md-toolbar>
<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">




  <md-card md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Solution Title</span>
        <span class="md-subhead">Brief abstract about the issue content to introduce the user in a sentence or two.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">[icon]</div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end right">
      <md-button>Read More</md-button>
    </md-card-actions>
  </md-card>

  <md-card md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Solution Title</span>
        <span class="md-subhead">Brief abstract about the issue content to introduce the user in a sentence or two.</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">[icon]</div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end right">
      <md-button>Read More</md-button>
    </md-card-actions>
  </md-card>

</md-content> -->
