<md-content layout="column">
	<div layout="row" layout-padding>
		<md-button ng-if="authentication.user.roles.indexOf('admin')>-1" class="md-primary md-raised create-btn" ui-sref="media.create({ objectId: vm.objectId, objectType: vm.objectType })">
			<md-icon>add</md-icon><span hide show-gt-sm>Add Media</span>
		</md-button>
		<md-button ng-if="authentication.user.roles.indexOf('admin')==-1" class="md-primary md-raised create-btn" ui-sref="suggestions">
			<md-icon>add</md-icon><span hide show-gt-sm>Suggest Media</span>
		</md-button>

	</div>
	<div>
		<md-card class="solution-card" ng-if="vm.media.length==0">
			<md-card-header>
				<md-card-header-text>
					<span class="md-headline">No media has been added yet!</span>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card class="media-card" ng-repeat="media in vm.media | orderBy:vm.sortSvc.expression : vm.sortSvc.reverse">
			<img hide-gt-sm class="md-card-image" src='{{media.image}}' />
			<md-card-title ng-if="!media.imageOnly">
				<md-card-title-text>
					<!-- <span>votes object:{{media.votes.currentUser.voteValue}}</span> -->
					<span class="md-headline"><a href="{{media.url}}" target="_blank">{{media.title}}</a></span>
					<span class="md-subhead">{{media.description}}</span>

				</md-card-title-text>
				<md-card-title-media hide show-gt-sm ng-if="!media.imageOnly">
					<div class="md-media-lg card-media"><img src='{{media.image}}' /></div>
				</md-card-title-media>
			</md-card-title>
			<md-card-title hide-gt-sm ng-if="media.imageOnly">
				<md-card-title-text>
					<!-- <span>votes object:{{media.votes.currentUser.voteValue}}</span> -->
					<span class="md-headline"><a href="{{media.url}}" target="_blank">{{media.title}}</a></span>
					<span class="md-subhead">{{media.description}}</span>

				</md-card-title-text>
			</md-card-title>
			<md-card-content hide show-gt-sm ng-if="media.imageOnly" layout="row" layout-padding>
				<div layout="column" flex>
					<span class="md-headline"><a href="{{media.url}}" target="_blank">{{media.title}}</a></span>
					<span class="md-subhead">{{media.description}}</span>
				</div>
				<div class="md-media-xl card-media image-only"><img src='{{media.image}}' /></div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="start center">
				<md-button class="md-icon-button vote-btn" ng-class="{ selected: media.votes.currentUser.voteValue===1 }" ng-click="vm.vote(media, 'str_agree', $event)">
					<md-tooltip>
						<span ng-if="media.votes.currentUser.voteValue===1">Undo</span>
						<span ng-if="media.votes.currentUser.voteValue!==1">Like</span>
					</md-tooltip>
					<md-icon>thumb_up</md-icon>
        		</md-button>
				<!-- <md-button class="md-icon-button">
					<md-icon>share</md-icon>
				</md-button> -->
				<!-- <div flex>
          			<share-buttons object="media" object-type="'media'" vertical-resize="true"></share-buttons>
				</div> -->
				<div ng-if="authentication.user.roles.indexOf('admin')>-1 || authentication.user._id===media.user._id" layout-align="end center">
					<md-button class="md-icon-button" ng-click="vm.delete(media)">
						<md-tooltip>Delete Media</md-tooltip>
						<md-icon>delete</md-icon>
					</md-button>
					<md-button class="md-icon-button" ui-sref="media.edit({mediaId: media._id, previousObjectId: vm.objectId, objectType: vm.objectType})">
						<md-tooltip>Edit Media</md-tooltip>
						<md-icon>edit</md-icon>
					</md-button>
				</div>
			</md-card-actions>
		</md-card>
	</div>
</md-content>
