<md-content layout="column">
	<div layout="row" layout-padding>
		<md-button ng-if="authentication.user.roles.indexOf('admin')>-1" class="md-primary md-raised create-btn" ui-sref="solutions.create({ issueId: vm.issueId })">
			<md-icon>add</md-icon><span hide show-gt-sm>Add a Solution</span></md-button>
		</md-button>
		<md-button ng-if="authentication.user.roles.indexOf('admin')==-1" class="md-primary md-raised create-btn" ui-sref="suggestions">
			<md-icon>add</md-icon><span hide show-gt-sm>Suggest a Solution</span></md-button>
		</md-button>
		<!-- <md-button class="md-primary" ng-click="vm.sort('top', 'desc', $event)">Top</md-button>
		<md-button class="md-primary" ng-click="vm.sort('controversial', 'desc', $event)">Controversial</md-button>
		<md-button class="md-primary" ng-click="vm.sort('trending', 'desc', $event)">Trending</md-button>
		<md-button class="md-primary" ng-click="vm.sort('newest', 'desc', $event)">Newest</md-button> -->

		<div hide show-gt-sm>
			<md-button class="md-primary" ng-click="vm.sort({type: 'top', order: 'desc'}, $event)">Top</md-button>
			<md-button class="md-primary" ng-click="vm.sort({type: 'controversial', order: 'desc'}, $event)">Controversial</md-button>
			<md-button class="md-primary" ng-click="vm.sort({type: 'trending', order: 'desc'}, $event)">Trending</md-button>
			<md-button class="md-primary" ng-click="vm.sort({type: 'newest', order: 'desc'}, $event)">Newest</md-button>
		</div>

		<div hide-gt-sm layout="row" layout-align="end center" flex="fill">
			<span layout-padding>Sort By </span>
			<md-select class="sort-select" ng-model="vm.sortSelectState" md-on-close='vm.sort(vm.sortSelectState)'>
				<md-option ng-value="{type: 'top', order: 'desc'}" ng-selected=true>Top</md-option>
				<md-option ng-value="{type: 'controversial', order: 'desc'}">Controversial</md-option>
				<md-option ng-value="{type: 'trending', order: 'desc'}">Trending</md-option>
				<md-option ng-value="{type: 'newest', order: 'desc'}">Newest</md-option>
			</md-select>
		</div>

	</div>
	<!-- <div layout-padding layout="row">
		<md-chips
			ng-model="vm.issue.tags"
			readonly="false"
			md-removable="true"
			placeholder="Filter by tags"
			flex="50">
		</md-chips>
	</div> -->
	<div layout-padding>
		<md-card class="solution-card" ng-repeat="solution in vm.solutions | orderBy:vm.sortSvc.expression : vm.sortSvc.reverse" ui-sref="solutions.view({solutionId:solution._id})">
			<md-card-header>
				<md-card-avatar>
					<img ng-src="{{::solution.imageUrl}}" alt="Solution Image" />
				</md-card-avatar>
				<md-card-header-text>
					<span ng-if="authentication.user.roles.indexOf('admin')>-1">cont: {{vm.controversialSort(solution)}}</span>
					<span class="md-title">{{::solution.title}}</span>
					<span class="md-subhead description-container"><div class="description" ng-bind="solution.description | htmlToPlaintext"></div></span>
				</md-card-header-text>
			</md-card-header>
			<md-card-actions layout-xs="column" layout-gt-xs="row" layout-align="end center">
        <div>
          <md-card-icon-actions>
            <md-button class="md-icon-button vote-btn" ng-class="{ selected: solution.votes.currentUser.voteValue===1 }" ng-click="vm.vote(solution, 'up', $event)">
              <md-tooltip>
                <span ng-if="solution.votes.currentUser.voteValue===1">Undo</span>
                <span ng-if="solution.votes.currentUser.voteValue!==1">Vote Up</span>
              </md-tooltip>
              <md-icon>arrow_upward</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-class="" ng-click="">
              <md-tooltip>
                <span>For: {{solution.votes.up}}, Against: {{solution.votes.down}}</span>
              </md-tooltip>
              {{solution.votes.up - solution.votes.down}}
            </md-button>
            <md-button class="md-icon-button vote-btn" ng-class="{ selected: solution.votes.currentUser.voteValue===-1 }" ng-click="vm.vote(solution, 'down', $event)">
              <md-tooltip>
                <span ng-if="solution.votes.currentUser.voteValue===-1">Undo</span>
                <span ng-if="solution.votes.currentUser.voteValue!==-1">Vote Down</span>
              </md-tooltip>
              <md-icon>arrow_downward</md-icon>
            </md-button>
          </md-card-icon-actions>
        </div>
        <div flex>
					<md-fab-speed-dial md-direction="right" class="md-scale" ng-click="$event.stopPropagation()">
						<md-fab-trigger>
							<md-button aria-label="Share" class="md-icon-button share-button">
								<md-tooltip>Share</md-tooltip>
								<md-icon>share</md-icon>
							</md-button>
						</md-fab-trigger>

						<md-fab-actions>
							<md-button aria-label="Share to Facebook" class="md-icon-button share-button" ng-click="vm.share(solution, 'facebook')">
								<md-icon md-svg-src="/modules/core/client/img/facebook.svg"></md-icon>
								<md-tooltip>Facebook</md-tooltip>
							</md-button>

							<md-button aria-label="Share on Twitter" class="md-icon-button share-button" ng-click="vm.share(solution, 'twitter')">
								<md-icon md-svg-src="/modules/core/client/img/twitter.svg"></md-icon>
								<md-tooltip>Twitter</md-tooltip>
							</md-button>

							<md-button aria-label="Share on Google+" class="md-icon-button share-button" ng-click="vm.share(solution, 'google_plus')">
								<md-icon md-svg-src="/modules/core/client/img/google-plus.svg"></md-icon>
								<md-tooltip>Google+</md-tooltip>
							</md-button>

							<md-button aria-label="Share on LinkedIn" class="md-icon-button share-button" ng-click="vm.share(solution, 'linkedin')">
								<md-icon md-svg-src="/modules/core/client/img/linkedin.svg"></md-icon>
								<md-tooltip>LinkedIn</md-tooltip>
							</md-button>

							<md-button aria-label="Share on Reddit" class="md-icon-button share-button" ng-click="vm.share(solution, 'reddit')">
								<md-icon md-svg-src="/modules/core/client/img/reddit.svg"></md-icon>
								<md-tooltip>Reddit</md-tooltip>
							</md-button>
						</md-fab-actions>
					</md-fab-speed-dial>
				</div>
			</md-card-actions>
		</md-card>
	</div>
</md-content>
