<!-- Meta tags -->
<!-- Basic meta tags -->
<update-title title="{{ vm.title }}"></update-title>
<update-meta name="description" content="{{ vm.desc }}"></update-meta>

<!-- Facebook META -->
<update-meta property="og:title" content="{{ vm.title }}"></update-meta>
<update-meta property="og:description" content="{{ vm.desc }}"></update-meta>
<update-meta property="og:url" use-abs-url="true"></update-meta>
<update-meta property="og:image" content="{{ vm.image }}"></update-meta>

<!-- Twitter META -->
<update-meta name="twitter:title" content="{{ vm.title }}"></update-meta>
<update-meta name="twitter:description" content="{{ vm.desc }}"></update-meta>
<update-meta name="twitter:url" use-abs-url="true"></update-meta>
<update-meta name="twitter:image" content="{{ vm.image }}"></update-meta>

<md-toolbar class="md-primary">
	<div flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50">
		<div layout="row" layout-padding>
			<div class="header-image-container" flex>
				<img ng-src="{{::vm.solution.imageUrl}}" alt="Solution Image">
			</div>
		</div>
		<div layout-padding layout="row">
			<div class="header-description" ng-class="{full: vm.showFullDesc}" ng-bind-html="vm.solution.description"></div>
		</div>
		<div layout="row" layout-align="start end">
			<md-button ng-click="vm.showFullDesc=!vm.showFullDesc">
				<span ng-if="vm.showFullDesc">Show Less</span>
				<span ng-if="!vm.showFullDesc">...Show More</span>
			</md-button>
		</div>

		<div layout-padding layout="column" ng-if="vm.solution.tags.length > 0">
			<md-chips class="descriptionChips" ng-model="vm.solution.tags" readonly="true" md-removable="false">
			</md-chips>
		</div>

		<div layout="column" layout-gt-sm="row" layout-padding layout-align="start start" layout-align-gt-sm="start center">
			<div layout="row" >
				<md-button class="md-raised vote-btn" ng-class="{ selected: vm.solution.votes.currentUser.voteValue===1 }" ng-click="vm.vote('up')">
					<md-icon>arrow_upward</md-icon> Vote Up
					<md-tooltip ng-if="vm.solution.votes.currentUser.voteValue===1">Undo</md-tooltip>
				</md-button>
				<md-button class="md-fab md-primary md-hue-2 vote-score" ng-class="" ng-click="">
					<md-tooltip>
						<span>For: {{vm.solution.votes.up}}, Against: {{vm.solution.votes.down}}</span>
					</md-tooltip>
					{{vm.solution.votes.up - vm.solution.votes.down}}
				</md-button>
				<md-button class="md-raised vote-btn" ng-class="{ selected: vm.solution.votes.currentUser.voteValue===-1 }" ng-click="vm.vote('down')">
					<md-icon>arrow_downward</md-icon>Vote Down
					<md-tooltip ng-if="vm.solution.votes.currentUser.voteValue===-1">Undo</md-tooltip>
				</md-button>
			</div>

			<div layout="row">
				<md-button class="md-icon-button" ng-if="authentication.user._id===vm.solution.user._id || authentication.user.roles.indexOf('admin')>-1" ng-click="vm.delete()">
					<md-tooltip>Delete Solution</md-tooltip>
					<md-icon>delete</md-icon>
				</md-button>
				<md-button class="md-icon-button" ng-if="authentication.user._id===vm.solution.user._id || authentication.user.roles.indexOf('admin')>-1" ui-sref="solutions.edit({solutionId: vm.solution._id})">
					<md-tooltip>Edit Solution</md-tooltip>
					<md-icon>edit</md-icon>
				</md-button>
				<md-fab-speed-dial md-direction="right" class="md-scale" ng-click="$event.stopPropagation();">
					<md-fab-trigger>
						<md-button aria-label="Share" class="md-icon-button share-button">
							<md-tooltip>Share</md-tooltip>
							<md-icon>share</md-icon>
						</md-button>
					</md-fab-trigger>

					<md-fab-actions>
            <md-button aria-label="Share to Facebook" class="md-icon-button share-button" ng-click="vm.share('facebook')">
              <md-icon md-svg-src="/modules/core/client/img/facebook.svg"></md-icon>
              <md-tooltip>Facebook</md-tooltip>
            </md-button>

            <md-button aria-label="Share on Twitter" class="md-icon-button share-button" ng-click="vm.share('twitter')">
              <md-icon md-svg-src="/modules/core/client/img/twitter.svg"></md-icon>
              <md-tooltip>Twitter</md-tooltip>
            </md-button>

            <md-button aria-label="Share on Google+" class="md-icon-button share-button" ng-click="vm.share('google_plus')">
              <md-icon md-svg-src="/modules/core/client/img/google-plus.svg"></md-icon>
              <md-tooltip>Google+</md-tooltip>
            </md-button>

            <md-button aria-label="Share on LinkedIn" class="md-icon-button share-button" ng-click="vm.share('linkedin')">
              <md-icon md-svg-src="/modules/core/client/img/linkedin.svg"></md-icon>
              <md-tooltip>LinkedIn</md-tooltip>
            </md-button>

            <md-button aria-label="Share on Reddit" class="md-icon-button share-button" ng-click="vm.share('reddit')">
              <md-icon md-svg-src="/modules/core/client/img/reddit.svg"></md-icon>
              <md-tooltip>Reddit</md-tooltip>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
			</div>
		</div>
	</div>
	<div md-colors="{background: 'orange'}" ng-if="vm.isSingleAction" layout-padding ui-sref="solutions.view({solutionId: '{{vm.solution._id}}'})">
		You are viewing a single action, click here to view all actions for this solution.
	</div>
</md-toolbar>

<div flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50">
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="actions">
			<div layout="row" layout-padding>
				<md-button ng-if="authentication.user.roles.indexOf('admin')>-1" class="md-primary md-raised create-btn" ng-click="vm.showCreateAction()">
					<md-icon>add</md-icon><span hide show-gt-sm>Add an Action</span>
				</md-button>
				<md-button ng-if="authentication.user.roles.indexOf('admin')==-1" class="md-primary md-raised create-btn" ui-sref="suggestions">
					<md-icon>add</md-icon><span hide show-gt-sm>Suggest an Action</span>
				</md-button>

				<!-- <md-button class="md-primary" ng-click="vm.sort('top', 'desc', $event)">Top</md-button>
				<md-button class="md-primary" ng-click="vm.sort('controversial', 'desc', $event)">Controversial</md-button>
				<md-button class="md-primary" ng-click="vm.sort('trending', 'desc', $event)">Trending</md-button>
				<md-button class="md-primary" ng-click="vm.sort('newest', 'desc', $event)">Newest</md-button> -->

				<div hide show-gt-sm>
					<md-button class="md-primary" ng-click="vm.sort({type: 'top', order: 'desc'}, $event)">Top</md-button>
					<md-button class="md-primary" ng-click="vm.sort({type: 'controversial', order: 'desc'}, $event)">Controversial</md-button>
					<md-button class="md-primary" ng-click="vm.sort({type: 'trending', order: 'desc'}, $event)">Trending</md-button>
					<md-button class="md-primary" ng-click="vm.sort({type: 'newest', order: 'desc'}, $event)">Newest</md-button>
				</div>

				<div hide-gt-sm layout="row" layout-align="end center" flex="fill">
					<span layout-padding>Sort By </span>
					<md-select class="sort-select" ng-model="vm.sortSelectState" md-on-close='vm.sort(vm.sortSelectState)'>
						<md-option ng-value="{type: 'top', order: 'desc'}" ng-selected=true>Top</md-option>
						<md-option ng-value="{type: 'controversial', order: 'desc'}">Controversial</md-option>
						<md-option ng-value="{type: 'trending', order: 'desc'}">Trending</md-option>
						<md-option ng-value="{type: 'newest', order: 'desc'}">Newest</md-option>
					</md-select>
				</div>
			</div>

			<div layout="column" layout-padding ng-if="vm.creatingAction">
				<md-input-container class="md-block compact">
					<label>Action Summary</label>
					<input ng-model="vm.newAction.title" autofocus md-placeholder="">
				</md-input-container>
				<!--
				<md-input-container class="md-block">
				<label>Action Details</label>
				<textarea ng-model="vm.newAction.description"></textarea>
			</md-input-container> -->

				<div layout="row">
					<md-button class="md-primary md-raised" ng-click="vm.createAction()">
						Submit
					</md-button>
					<md-button class="md-warn md-raised" ng-click="vm.showCreateAction()">
						Cancel
					</md-button>
				</div>
			</div>


			<div layout-padding>
				<md-card class="action-card" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-if="vm.actions.length==0">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Looks like there are no proposed actions yet, suggest one!</span>
							<!-- <span class="md-subhead">{{::action.description}}</span> -->
						</md-card-title-text>
					</md-card-title>
				</md-card>
				<md-card class="action-card" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="action in vm.actions | orderBy: vm.sortSvc.expression: vm.sortSvc.reverse">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{::action.title}}</span>
							<!-- <span class="md-subhead">{{::action.description}}</span> -->
						</md-card-title-text>
					</md-card-title>
					<md-card-actions layout="row" layout-align="end center">
						<md-card-icon-actions>
							<md-button class="md-icon-button vote-btn" ng-class="{ selected: action.votes.currentUser.voteValue===1 }" ng-click="vm.voteAction(action, 'up', $event)">
								<md-tooltip>
									<span ng-if="action.votes.currentUser.voteValue===1">Undo</span>
									<span ng-if="action.votes.currentUser.voteValue!==1">Vote Up</span>
								</md-tooltip>
								<md-icon>arrow_upward</md-icon>
							</md-button>
							<!-- up: {{action.votes.up}}, down: {{action.votes.down}}, total: {{action.votes.total}}, currentUser: {{action.votes.currentUser.voteValue}}, score:  {{action.votes.up - action.votes.down + action.votes.currentUser.voteValue}} -->
							<md-button class="md-icon-button" ng-class="" ng-click="">
								<md-tooltip>
									<span>For: {{action.votes.up}}, Against: {{action.votes.down}}</span>
								</md-tooltip>
								{{action.votes.up - action.votes.down}}
							</md-button>
							<md-button class="md-icon-button vote-btn" ng-class="{ selected: action.votes.currentUser.voteValue===-1 }" ng-click="vm.voteAction(action, 'down', $event)">
								<md-tooltip>
									<span ng-if="action.votes.currentUser.voteValue===-1">Undo</span>
									<span ng-if="action.votes.currentUser.voteValue!==-1">Vote Down</span>
								</md-tooltip>
								<md-icon>arrow_downward</md-icon>
							</md-button>
							<md-button class="md-icon-button" ng-if="authentication.user._id===action.user._id" ng-click="vm.deleteAction(action)">
								<md-tooltip>Delete</md-tooltip>
								<md-icon>delete</md-icon>
							</md-button>
							<md-fab-speed-dial md-direction="right" class="md-scale" ng-click="$event.stopPropagation();">
								<md-fab-trigger>
									<md-button aria-label="Share" class="md-icon-button share-button">
										<md-tooltip>Share</md-tooltip>
										<md-icon>share</md-icon>
									</md-button>
								</md-fab-trigger>

								<md-fab-actions>
									<md-button aria-label="Share to Facebook" class="md-icon-button share-button" ng-click="vm.shareAction(action, 'facebook')">
										<md-icon md-svg-src="/modules/core/client/img/facebook.svg"></md-icon>
										<md-tooltip>Facebook</md-tooltip>
									</md-button>

									<md-button aria-label="Share on Twitter" class="md-icon-button share-button" ng-click="vm.shareAction(action, 'twitter')">
										<md-icon md-svg-src="/modules/core/client/img/twitter.svg"></md-icon>
										<md-tooltip>Twitter</md-tooltip>
									</md-button>

									<md-button aria-label="Share on Google+" class="md-icon-button share-button" ng-click="vm.shareAction(action, 'google_plus')">
										<md-icon md-svg-src="/modules/core/client/img/google-plus.svg"></md-icon>
										<md-tooltip>Google+</md-tooltip>
									</md-button>

									<md-button aria-label="Share on LinkedIn" class="md-icon-button share-button" ng-click="vm.shareAction(action, 'linkedin')">
										<md-icon md-svg-src="/modules/core/client/img/linkedin.svg"></md-icon>
										<md-tooltip>LinkedIn</md-tooltip>
									</md-button>

									<md-button aria-label="Share on Reddit" class="md-icon-button share-button" ng-click="vm.shareAction(action, 'reddit')">
										<md-icon md-svg-src="/modules/core/client/img/reddit.svg"></md-icon>
										<md-tooltip>Reddit</md-tooltip>
									</md-button>
								</md-fab-actions>
							</md-fab-speed-dial>
						</md-card-icon-actions>
					</md-card-actions>
				</md-card>
			</div>
		</md-tab>
		<md-tab label="media">
			<media-list media="vm.media" object-id="vm.solution._id", object-type="'solution'"></media-list>
		</md-tab>
	</md-tabs>


	<md-content layout="column" layout-align="center" ng-if="!prerender">
		<div layout-padding>
			<div class="polis" data-topic="What do you think?" data-page_id="{{vm.solution._id}}" data-site_id="polis_site_id_7YYdpN4NRpUvCKC7ZU">
			</div>
		</div>
	</md-content>
</div>
