<md-content layout="column">
	<div layout-gt-sm="row" layout-align-gt-sm="start center" layout-padding>
		<span>Sort</span>
		<div>
			<md-select class="sort-select" ng-model="vm.sortSelectState" md-on-close='vm.sort(vm.sortSelectState)'>
				<md-option ng-value="{type: 'top', order: 'desc'}" ng-selected=true>Top</md-option>
				<md-option ng-value="{type: 'controversial', order: 'desc'}">Controversial</md-option>
				<md-option ng-value="{type: 'trending', order: 'desc'}">Trending</md-option>
				<md-option ng-value="{type: 'newest', order: 'desc'}">Newest</md-option>
			</md-select>

			<md-tooltip ng-if="vm.sortSelectState.type === 'top'">Total score of votes</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'controversial'">Greatest difference in opinion</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'trending'">Recently popular</md-tooltip>
			<md-tooltip ng-if="vm.sortSelectState.type === 'newest'">Most recently updated or created</md-tooltip>
		</div>
		<div flex>

		</div>
		<span>Filter</span>
		<div layout-align="start center">
			<md-chips ng-model="vm.regions" md-require-match="true" md-on-add="vm.updateVotes(vm.regions)" md-on-remove="vm.updateVotes(vm.regions)" md-delay="400" placeholder="All electorates" secondary-placeholder="Add another electorate">
				<md-chip-template>
					<span>{{ $chip.name }}</span>
				</md-chip-template>
				<md-autocomplete md-no-cache="true" md-items="region in vm.searchRegions(regionName)" md-dropdown-items="5" md-search-text="regionName" placeholder="Add electorates" md-item-text="region.name">
					<md-item-template>
						<span md-highlight-text="regionName" md-highlight-flags="i">
					  		{{ region.name }} ({{region.type}})
				  		</span>
					</md-item-template>
					<md-not-found>
						No regions found.
					</md-not-found>
				</md-autocomplete>
			</md-chips>
		</div>

	</div>
	<div>
		<md-card class="solution-card" ng-if="vm.solutions.length==0">
			<md-card-header>
				<md-card-header-text>
					<span class="md-headline">Looks like there are no proposed solutions yet, why not suggest one?</span>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card class="solution-card" ng-repeat="solution in vm.solutions | orderBy: vm.sortSvc.expression: vm.sortSvc.reverse" ui-sref="solutions.view({solutionId:solution._id})">
			<!-- <md-card-header>
				<md-card-avatar>
					<img ng-src="{{::solution.imageUrl}}" alt="Solution Image" />
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-headline">{{::solution.title}}</span>
				</md-card-header-text>
			</md-card-header> -->
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline" ng-bind="solution.title"></span>
					<p class="md-body-2" ng-if="$state.current.name == 'solutions.list' || $state.current.name == 'issues.view'">This is a solution for:
						<a layout-margin ng-repeat="goal in solution.goals" ui-sref="goals.view({goalId: goal._id})">{{goal.title}}</a>
					</p>
					<!-- <span class="md-body-1" ng-bind="solution.description | htmlToPlaintext"></span> -->
				</md-card-title-text>
				<md-card-title-media layout-padding>
					<div class="md-media-sm card-media"><img ng-src="{{::solution.imageUrl}}" alt="solution Image" /></div>
				</md-card-title-media>
			</md-card-title>
			<md-card-content>
				<p class="md-subhead" ng-bind="solution.description | htmlToPlaintext"></p>
			</md-card-content>
			<md-card-actions layout="column" layout-gt-sm="row" layout-align="start start">
				<binary-vote ng-if="!solution.likert" object="solution" object-type="'solution'"></binary-vote>
				<likert-vote ng-if="solution.likert" object="solution" object-type="'solution'"></likert-vote>

        <div ng-if="authentication.user.roles != null && (authentication.user.roles.indexOf('admin') !== -1 || authentication.user._id===solution.user._id)">
					<md-button class="md-icon-button" ng-click="vm.deleteSolution(solution)">
						<md-tooltip>Delete</md-tooltip>
						<md-icon>delete</md-icon>
					</md-button>
					<md-button class="md-icon-button" ui-sref="solutions.edit({solutionId: solution._id, goalId: vm.goalId})">
						<md-tooltip>Edit Solution</md-tooltip>
						<md-icon>edit</md-icon>
					</md-button>
				</div>

				<share-buttons object="solution" req-object="vm.goal" object-type="'solution'" vertical-resize="true"></share-buttons>
				<!-- <div layout>
					<md-button class="md-raised vote-btn" ng-class="{ selected: solution.votes.currentUser.voteValue===1 }" ng-click="vm.vote(solution, 'str_agree', $event)">
						<md-tooltip>
							<span ng-if="solution.votes.currentUser.voteValue===1">Undo</span>
							<span ng-if="solution.votes.currentUser.voteValue!==1">Vote Up</span>
						</md-tooltip>
						<md-icon>arrow_upward</md-icon> <span hide show-gt-xs>Vote Up</span>
					</md-button>
					<div class="card-chart-container">
						<div class="card-chart-score">
							<span>{{solution.votes.up / (solution.votes.up + solution.votes.down) * 100 || 0 | number: 0}} %</span>
						</div>
						<canvas class="chart chart-pie" chart-data="[solution.votes.down, solution.votes.up]" chart-labels="vm.chartLabels" chart-options="vm.chartOptions" chart-colors="vm.chartColors" height="100%" width="100%">
						</canvas>
						<md-tooltip>
							<span>For: {{solution.votes.up}}, Against: {{solution.votes.down}}</span>
						</md-tooltip>
					</div>
					<md-button class="md-raised vote-btn" ng-class="{ selected: solution.votes.currentUser.voteValue===-1 }" ng-click="vm.vote(solution, 'str_disagree', $event)">
						<md-tooltip>
							<span ng-if="solution.votes.currentUser.voteValue===-1">Undo</span>
							<span ng-if="solution.votes.currentUser.voteValue!==-1">Vote Down</span>
						</md-tooltip>
						<md-icon>arrow_downward</md-icon> <span hide show-gt-xs>Vote Down</span>
					</md-button>
				</div> -->
			</md-card-actions>
		</md-card>
	</div>
</md-content>
