<div ng-controller="TopicsController as vm">
  <md-toolbar class="md-primary">
    <div layout-padding class="md-toolbar-tools"
      <p>
        Select a topic to view ideas.
      </p>
      <div flex></div>
      <md-button class="md-icon-button" ui-sref="topics.create">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-toolbar>


  <md-grid-list
    class="topics"
    md-cols-xs="3" md-cols-sm="9" md-cols-md="9" md-cols-gt-md="12"
    md-row-height="2:2"
    md-gutter="16px">

    <md-grid-tile ng-repeat="topic in vm.topics" ui-sref="topics.view({ topicId: topic.id })" md-rowspan-gt-xs="3" md-colspan="3" md-rowspan="1" class="topic" md-whiteframe="3">
      <img ng-src="{{topic.imageUrl}}" alt="Topic Image">
      <md-grid-tile-footer>
        <h2 ng-bind="topic.name"></h2>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>

</div>
