<div layout="row" ng-controller="AuthenticationController">
    <div flex-offset-lg="15" flex-lg="70" flex-offset-xl="25" flex-xl="50">
        <div layout="column" layout-align="center center">
            <h3 class="md-display-1">Sign in with</h3>
            <div>
                <md-button class="md-raised md-primary signin-btn btn-min-height" ng-click="callOauthProvider('/api/auth/facebook')">
                    <ng-md-icon icon="facebook" size="64" style="fill:white"></ng-md-icon>
                </md-button>
                <md-button class="md-raised md-primary signin-btn btn-min-height" ng-click="callOauthProvider('/api/auth/google')">
                    <ng-md-icon icon="google-plus" size="64" style="fill:white"></ng-md-icon>
                </md-button>
            </div>
            <h3 class="md-display-1">Or with</h3>
        </div>
        <div layout="column" layout-align="center center">
            <ui-view></ui-view>
        </div>
    </div>

    <!-- <div flex>
        test two
    </div> -->

    <!-- <div>
        <h3 class="md-display-1">Sign in with</h3>
        <div>
            <md-button class="md-raised md-primary signin-btn btn-min-height" ng-click="callOauthProvider('/api/auth/facebook')">
                <ng-md-icon icon="facebook" size="64" style="fill:white"></ng-md-icon>
            </md-button>
            <md-button class="md-raised md-primary signin-btn btn-min-height" ng-click="callOauthProvider('/api/auth/google')">
                <ng-md-icon icon="google-plus" size="64" style="fill:white"></ng-md-icon>
            </md-button>
        </div>
        <h3 class="md-display-1">Or with</h3>
    </div>
    <div>
        <ui-view></ui-view>
    </div> -->
</div>
