<div layout="column" layout-padding class="user-verification" ng-controller="AuthenticationController">

  <!-- Meta tags -->
  <!-- Basic meta tags -->
  <update-title title="{{ title }}"></update-title>

  <!-- Facebook META -->
  <update-meta property="og:title" content="{{ title }}"></update-meta>
  <update-meta property="og:url" use-abs-url="true"></update-meta>

  <!-- Twitter META -->
  <update-meta name="twitter:title" content="{{ title }}"></update-meta>
  <update-meta name="twitter:url" use-abs-url="true"></update-meta>

	<p layout="row" layout-align="center center" layout-padding class="info-banner">In the future, this page will verify your personal details using government issued ID.</p>

	<div layout-padding layout="row" layout-align="center center">
		<form name="userForm" ng-submit="update(userForm.$valid)">
			<md-input-container class="md-block" flex-gt-sm>
				<label>First Name</label>
				<input required ng-model="user.firstName" name="firstName">
				<div ng-messages="userForm.firstName.$error" role="alert">
					<div ng-message="required" class="my-message">This is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Last Name</label>
				<input required ng-model="user.lastName" name="lastName">
				<div ng-messages="userForm.lastName.$error" role="alert">
					<div ng-message="required" class="my-message">This is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Postal Code</label>
				<input name="postalCode" ng-model="user.postalCode" placeholder="e.g 4000" required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">

				<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
					<div ng-message="required" class="my-message">You must supply a postal code.</div>
					<div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
					</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<md-checkbox ng-model="user.terms" aria-label="I accept the terms and conditions" required name="terms">
					I accept the <a href="#">terms and conditions</a>
				</md-checkbox>
				<div ng-messages="userForm.terms.$error" md-auto-hide="false">
					<div ng-message="required">
						You must accept the terms of service before you can proceed.
					</div>
				</div>
			</md-input-container>


			<md-button type="submit" class="md-raised md-primary">Submit</md-button>
		</form>
	</div>
</div>
