<div ng-controller="AuthenticationController">
	<form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
		<alert type="danger" ng-show="error" class="text-center text-danger">
			<span ng-bind="error"></span>
		</alert>
		<div layout="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Username</label>
				<input required ng-model="credentials.username" type="text" id="username" name="username">
				<div ng-messages="userForm.username.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Password</label>
				<input required ng-model="credentials.password" type="password" id="password" name="password">
				<div ng-messages="userForm.password.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>
		</div>

		<div class="text-center form-group">
			<md-button type="submit" class="md-raised md-primary">Sign In</md-button> or
			<md-button ui-sref="authentication.signup" class="md-raised md-secondary">Sign Up</md-button>
		</div>

		<div class="text-center forgot-password">
			<a ui-sref="password.forgot">Forgot your password?</a>
		</div>
	</form>
</div>
