md-grid-tile-footer.ng-scope {
  background: #006064;
  background: rgba(0, 96, 100, 0.8); }

md-toolbar a:link, md-toolbar a:visited, md-toolbar a:active {
  color: white; }

.footer a:link, .footer a:visited, .footer a:active {
  color: black; }

h3.ng-binding.ng-scope {
  font-weight: 600; }

.search-item {
  text-decoration: none;
  display: block;
  color: #212121; }

.content {
  margin-top: 50px; }

.undecorated-link:hover {
  text-decoration: none; }

.ng-cloak,
.x-ng-cloak,
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important; }

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px; }

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1; }

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important; }

.error-text {
  display: none; }

.text-danger {
  color: #ff9800 !important; }

.has-error .help-block.error-text {
  display: block; }

.has-error .help-inline.error-text {
  display: inline; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #00838F; }

.logo {
  height: 250px; }

md-sidenav {
  width: 250px; }
  md-sidenav,
  md-sidenav md-content {
    background-color: #eee; }
  md-sidenav .item-content {
    text-align: center;
    font-weight: bold;
    font-size: 20px; }

.home-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

.signin-btn {
  font-size: 30px;
  text-transform: none;
  padding: 20px; }

.left-menu .active .item-content {
  color: #009688; }

.issues,
.goals {
  margin: 16px; }

.issue,
.goal {
  cursor: pointer; }
  .issue figcaption,
  .goal figcaption {
    width: 100%; }
    .issue figcaption h2,
    .goal figcaption h2 {
      text-align: center; }
  .issue img,
  .goal img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.descriptionChips .md-chips {
  box-shadow: 0 0 !important; }

.create-btn {
  font-size: 18px; }

.vote-button {
  margin-right: 20px; }
  .vote-button md-icon {
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    font-size: 35px; }

.btn-min-height {
  min-height: 104px !important; }

md-progress-linear {
  overflow: visible;
  height: 0;
  z-index: 3; }

md-tooltip {
  font-size: 14px !important; }
  md-tooltip.tooltip-multiline, md-tooltip.tooltip-wrap {
    height: auto;
    white-space: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 10px;
    font-weight: normal; }
  md-tooltip.tooltip-wrap {
    width: 200px; }

.vote-btn.selected,
.vote-btn.selected md-icon {
  color: #ff9800 !important; }

.vote-score {
  line-height: normal !important; }

.solution-card,
.goal-card {
  cursor: pointer; }
  .solution-card .description-container .description,
  .goal-card .description-container .description {
    overflow: hidden;
    height: 20px;
    float: left; }
  .solution-card .description-container::after,
  .goal-card .description-container::after {
    content: '...';
    float: left; }

.img-link-container {
  margin-top: 80px;
  margin-bottom: 80px; }
  .img-link-container .themed-link {
    color: white;
    text-decoration: underline; }
  .img-link-container a {
    margin: 20px 10px;
    max-width: 300px;
    overflow: visible; }
  .img-link-container img {
    max-width: 100%;
    width: 100%;
    height: auto; }

md-input-container.compact {
  margin: 10px 0 0; }
  md-input-container.compact .md-errors-spacer {
    display: none; }

.sort-select {
  margin: 0; }

.home-search-banner {
  background-image: url("/modules/core/client/img/head.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px; }

.footer-banner {
  background-color: #205763;
  padding: 20px 40px;
  color: white; }
  .footer-banner .social-link {
    width: 48px;
    height: 48px;
    color: white;
    text-decoration: none; }
  .footer-banner a, .footer-banner a:link, .footer-banner a:visited, .footer-banner a:hover, .footer-banner a:active {
    text-decoration: none; }

.title-text {
  font-size: 42px;
  color: #fff;
  font-weight: lighter;
  margin: 20px; }

.search-input {
  margin: 0 60px;
  background: #fff;
  border: 1px solid #e2e2e2;
  height: 42px; }
  .search-input.home-search {
    width: 100%;
    margin: 18px;
    max-width: 300px; }
  .search-input md-autocomplete-wrap {
    box-shadow: none; }
    .search-input md-autocomplete-wrap button md-icon {
      color: #adadad;
      fill: #adadad; }
  .search-input input {
    border-bottom: 0;
    font-size: 18px; }
  .search-input.simple {
    padding: 0; }
    .search-input.simple input {
      font-weight: 500;
      height: 40px;
      padding: 0 15px;
      color: #000;
      border-color: #000; }

md-toolbar.app-header:not(.md-menu-toolbar) .md-errors-spacer {
  display: none; }

.info-banner {
  border: 1px solid #ccc;
  border-radius: 8px; }

.hello {
  max-width: 750px;
  margin: 0 auto; }

.header-description {
  max-height: 20vh;
  text-overflow: ellipsis;
  overflow: hidden; }
  .header-description.full {
    max-height: none;
    overflow: visible; }

.header-image-container {
  height: 300px;
  background-position: center;
  background-size: cover; }
  .header-image-container img {
    max-height: 200px;
    width: auto; }

[ng-quill-editor] {
  display: block; }

.chart-container {
  position: relative;
  height: 60px !important;
  width: 60px !important;
  z-index: 100; }

.chart-score {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: -100; }

.card-chart-container {
  position: relative;
  height: 40px !important;
  width: 40px !important; }

.card-chart-score {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.vote-details {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 360px; }

.md-media-xl.image-only img {
  max-height: 100%;
  max-width: 100%; }

@media screen and (max-width: 480px) {
  .share-button {
    margin-top: 1px !important;
    margin-bottom: 1px !important; } }

@media screen and (max-width: 600px) {
  .share-button {
    margin-left: 1px !important;
    margin-right: 1px !important; } }

@media screen and (max-width: 480px) {
  .share-button-horizontal {
    margin-left: 1px !important;
    margin-right: 1px !important; } }

.left-align {
  float: left; }

.share-button-config {
  position: relative; }
  @media screen and (max-width: 480px) {
    .share-button-config {
      position: absolute;
      top: -115px;
      left: 50px; } }

@media (min-width: 960px) {
  md-toast.md-center {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0px; } }
