.content {
  margin-top: 50px; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px; }

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1; }

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important; }

.error-text {
  display: none; }

.has-error .help-block.error-text {
  display: block; }

.has-error .help-inline.error-text {
  display: inline; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #00838F; }

.logo {
  height: 250px; }

md-sidenav {
  width: 250px; }
  md-sidenav, md-sidenav md-content {
    background-color: #eee; }
  md-sidenav .item-content {
    text-align: center;
    font-weight: bold;
    font-size: 20px; }

.home-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

.signin-btn {
  font-size: 30px;
  text-transform: none;
  padding: 20px; }

.left-menu .active .item-content {
  color: #009688; }

.issues, .solutions {
  margin: 16px; }

.issue, .solution {
  cursor: pointer; }
  .issue figcaption, .solution figcaption {
    width: 100%; }
    .issue figcaption h2, .solution figcaption h2 {
      text-align: center; }
  .issue img, .solution img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.create-btn {
  font-size: 18px; }

.vote-button {
  margin-right: 20px; }
  .vote-button md-icon {
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    font-size: 35px; }
